<div class="monitor-main">
  <%= form_with model:temptation, local: true do |f| %>
  <div class="monitor-contents">
    <div class="monitor-wrapper">
      <div class="item-circle"></div>
      <div class="monitor-item">状況</div>
    </div>
      <div class="monitor-info">思考に心を奪われた、日付/時間、きっかけになった出来事や状況を教えてください。</div>
    <%= f.text_area :event, class:"monitor-text", placeholder:"" ,rows:"3" ,maxlength:"40000" %>
  </div>

  <div class="monitor-contents">
    <div class="monitor-wrapper">
      <div class="item-circle"></div>
      <div class="monitor-item">頭の中のおしゃべり</div>
    </div>
      <div class="monitor-info">思考はあなたを夢中にさせようと、何を言いましたか？　何をしましたか？</div>
    <%= f.text_area :talk, class:"monitor-text", placeholder:"" ,rows:"5" ,maxlength:"40000" %>
  </div>

  <div class="monitor-contents">
    <div class="monitor-wrapper">
      <div class="item-circle"></div>
      <div class="monitor-item">自動操縦</div>
    </div>
      <div class="monitor-info">「自動操縦」とは、自分の行動に自覚的ではなく、思考にコントロールされている状態をいいます。<br>
        自動操縦で思考に夢中になった時、あなたの行動はどう変わりましたか？<br>
        そのためにどんな代償を払いましたか？</div>
    <%= f.text_area :cost, class:"monitor-text", id:"monitor-text__feel", placeholder:"" ,rows:"5" ,maxlength:"40000" %>
  </div>

  <div class="monitor-contents">
    <div class="monitor-wrapper">
      <div class="item-circle"></div>
      <div class="monitor-item">抜け出す方法</div>
    </div>
      <div class="monitor-info">その状態から抜け出すことはできましたか？　どうやって抜け出しましたか？</div>
    <%= f.text_area :get_out, class:"monitor-text", placeholder:"" ,rows:"5" ,maxlength:"40000" %>
  </div>

  <div class="monitor-btn-contents">
    <%= f.submit "作成する" ,class:"monitor-btn" %>
  </div>
  <% end %>
</div>