<div class="monitor-main">
  <%= form_with model:@monitoring_form, url: url, method: :get, local: true do |f| %>
  <div class="monitor-contents">
    <div class="monitor-wrapper">
      <div class="item-circle"></div>
      <div class="monitor-item">出来事</div>
    </div>
      <div class="monitor-info">どんなことがありましたか？</div>
    <%= f.text_area :title, class:"monitor-text", placeholder:"", maxlength:"400" %>
  </div>

  <div class="monitor-contents">
    <div class="monitor-wrapper">
      <div class="item-circle"></div>
      <div class="monitor-item">感情</div>
    </div>
      <div class="monitor-info">どんな気分ですか？</div>
    <%= f.collection_check_boxes(:negative_feel_name, NegativeFeel.all, :id, :negative_feel_name, checked: @monitoring_form.negative_feel_name.map(&:id)) %>
  </div>

  <div class="monitor-contents">
    <div class="monitor-wrapper">
      <div class="item-circle"></div>
      <div class="monitor-item">詳しい状況</div>
    </div>
      <div class="monitor-info">詳しい状況？</div>
    <%= f.text_area :fact, class:"monitor-text", placeholder:"", rows:"5", maxlength:"40000" %>
  </div>

  <div class="monitor-contents">
    <div class="monitor-wrapper">
      <div class="item-circle"></div>
      <div class="monitor-item">思考</div>
    </div>
      <div class="monitor-info">どんな考え/感覚/衝動が出てきましたか？</div>
    <%= f.text_area :mind, class:"monitor-text", placeholder:"" ,rows:"5" ,maxlength:"40000" %>
  </div>

   <div class="monitor-btn-contents">
    <%= f.submit "次へ" ,class:"monitor-btn" %>
  </div>
  <% end %>
</div>