<%= render "shared/header" %>
<%= render "shared/header-margin" %>

<!-- <%= form_with(url: search_monitorings_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "検索", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %> -->

<div class="monitor-lists" id="lists">
  <%= render partial: 'list', collection: @monitorings %>
</div>