<%= render "shared/header" %>
<%= render "shared/header-margin" %>

<div class="monitor-lists" id="lists">
  <%= search_form_for @q, url: search_monitorings_path, html: {id: "detailed-search-form"} do |f| %>
  <div class="tag-search-field">
    <%#= f.text_field :tags_tag_name, placeholder: "\uf002 タグ", class:"fa search-field" %>
    <%= f.text_field :tags_tag_name, placeholder: "\uf002 タグ", class:"search-field" %>
    <div class="btn">
      <%= f.submit '検索' %>
    </div>
  </div>
  <% end %>

  <%= render partial: 'list', collection: @monitorings %>
</div>