<%= render "shared/header" %>
<%= render "shared/header-margin" %>

<div class="monitor-main">
  <%= form_with model:@monitoring_form, url: monitorings_path, method: :post, local: true do |f| %>
  <div class="monitor-contents">
    <div class="monitor-wrapper">
      <div class="item-circle"></div>
      <div class="monitor-item">思考のゆがみ</div>
    </div>
      <div class="monitor-info">思考のゆがみがありますか？</div>
      <%= f.collection_check_boxes(:distortion_name, DistortionList.all, :id, :distortion_name, checked: @monitoring_form.distortion_name&.map(&:id)) %>
  </div>
  
  <div class="monitor-contents">
    <div class="monitor-wrapper">
      <div class="item-circle"></div>
      <div class="monitor-item">ゆがみのきっかけ</div>
    </div>
      <div class="monitor-info">どんなことがありましたか？</div>
    <%= f.text_area :why_correct, class:"monitor-text", placeholder:"", rows:"5", maxlength:"40000" %>
  </div>

  <div class="monitor-contents">
    <div class="monitor-wrapper">
      <div class="item-circle"></div>
      <div class="monitor-item">ゆがみに反する</div>
    </div>
      <div class="monitor-info">どんなことがありましたか？</div>
    <%= f.text_area :why_doubt, class:"monitor-text", placeholder:"", rows:"5", maxlength:"40000" %>
  </div>

  <div class="monitor-contents">
    <div class="monitor-wrapper">
      <div class="item-circle"></div>
      <div class="monitor-item">他の考え方</div>
    </div>
      <div class="monitor-info">どんなことがありましたか？</div>
    <%= f.text_area :new_thought, class:"monitor-text", placeholder:"", rows:"5", maxlength:"40000" %>
  </div>

  <div class="monitor-contents">
    <div class="monitor-wrapper">
      <div class="monitor-item"><span style="font-size: 18px;">タグ</span></div>
    </div>
    <%= f.text_field :tag_name, class:"tag-field", placeholder: 'タグをつける(スペース区切りで複数追加)', maxlength:"50" %>
  </div>

  <div class="monitor-btn-contents">
    <%= f.submit "作成する" ,class:"monitor-btn" %>
  </div>
  <% end %>
</div>

<%= render "shared/footer" %>