<%= render "shared/header" %>
<%= render "shared/header-margin" %>

<div class="main">
  <div class="main-menu">
    <div class="main-menu__square"></div>
    <div class="main-menu__title">階層的認知モデル</div>
  </div>
  <div class="main-contents">
    <div class="main-contents-wrapper">
      <div class="main-item__circle"></div>
      <div class="main-contents__title">概要</div>
    </div>
    <div class="main-contents-info">
      <div class="main-contents__text">
        前章では認知行動療法の基本モデルを紹介しました。<br>
        認知行動療法には他にもモデルがいくつかあり、ここでは当アプリのエクササイズで使用する、「階層的認知モデル」について説明します。<br><br>
        以下に図を示します。<br><br>
        <%= image_tag "階層的認知モデル.png", class:"content-image" %>
        <br><br>
        前章で認知とは、頭の中に浮かぶ考えと説明しました。<br>
        考えの中には浅いレベルと深いレベルのものがあり、意識に上りやすい思考を「浅い」、意識に上りにくく、奥底にあってとらえにくい思考を「深い」と表現します。<br>
        浅いレベルの認知の方が自分で捕まえやすいものになります。<br>
        一方、深いレベルの認知は無意識下に現れやすく、捕まえにくいものになります。<br>
      </div>
    </div>

    <div class="main-contents-wrapper">
      <div class="main-item__circle"></div>
      <div class="main-contents__title">自動思考</div>
    </div>
    <div class="main-contents-info">
      <div class="main-contents__text">
        浅いレベルの認知を「自動思考」と呼びます。<br>
        自動的にとっさに頭に流れる思考やイメージ、という意味になります。<br>
        自動思考は空に浮かぶ雲のように、浮かんでは消え、を日常生活の中で繰り返します。<br><br>

        自動思考はポジティブなものからネガティブなもの、ニュートラルなものまで全ての思考が含まれます。<br><br>
        仕事で大きな失敗をしたときは、嵐のように自動思考が頭を埋めるかもしれません。<br>
        たとえば、打ち合わせで失言をし、「やってしまった」「参加者に呆れられる」「何を思って私はこんな発言をしたのか」「上司にフォローされた。能力がないと思われたに違いない」「いつまでたっても私は仕事ができない人間だ」など、自分を責める思考が出てくるかもしれません。<br><br>
        自動思考はラジオのように自動再生されるものなので、普段「今、こう考えている」と意識することはなかなか無いかもしれません。<br>
        しかし意識の表面に上りやすいので、はじめは難しいかもしれませんが、注意してみると捕まえやすいものになります。<br>
      </div>
    </div>

    <div class="main-contents-wrapper">
      <div class="main-item__circle"></div>
      <div class="main-contents__title">スキーマ</div>
    </div>
    <div class="main-contents-info">
      <div class="main-contents__text">
        意識の表面に上りにくい、その人の信念や価値観、思い込みのことを「スキーマ」と呼びます。<br><br>
        たとえば、前節の打ち合わせの失言の例では、「参加者に呆れられる」「上司にフォローされた。能力がないと思われたに違いない」いつまでたっても私は仕事ができない人間だ」と、この人は考えていました。<br>
        この場合、この人は自身の能力の低さや、周囲の人にどう見られるかを強く意識しています。<br>
        意識の底にある深い価値観として、次のようなものを持っているかもしれません。<br><br>
        <ul class="main-contents__lists-sub">
          <li>誰かから見下されたくない。人より勝るものがなければ安心できない。</li>
        </ul>
        <br>
        誰もが失言をしたからといって、見下されることを不安になる、とは限りません。<br>
        「モチベーションの上がらない打ち合わせだったから仕方ない」とか、「責めても仕方ないから、次どうするか考えよう」と周囲の人の反応を大きく意識しない場合もあります。<br>
        また、失言といっても、打ち合わせ全体で見ればこの人がうまく発言していたとすれば、つらい思考だけではなく、うまくできた自分に充足感を感じる思考が出ても不思議ではありません。<br><br>
        スキーマはひとつとは限らず、この人のスキーマとして、他にも次のようなものもあるかもしれません。<br><br>
        <ul class="main-contents__lists-sub">
          <li>仕事は完璧にこなさくてはいけない。</li>
          <li>何をしても、私は褒められない。</li>
        </ul>
        <br>
        自動思考の「参加者に呆れられる」は意識に浮かび上がりますが、「人より勝るものがなければ安心できない」とはこの人にとって心の奥底にある当たり前の信念なので、意識には上りにくいものになります。<br>
        奥底にこのようなスキーマが根付いているので、生活の色々な場面で思考に干渉し、周囲の人と比較するような劣等感を生む思考が浮かび上がりやすくなるのです。<br><br>

        打ち合わせで失言をした、という状況に対して落ち込むのは自然な反応に見えますが、見下される不安を伴う自動思考が出る背景には、その人なりのスキーマ（信念、思い込み）が介在しているのです。<br><br>

        基本モデルでは、個人の体験を<br>
        ＜認知＞＜気分・感情＞＜身体反応＞＜行動＞
        <br>の四つに分けて考え、変えることができやすい＜認知＞＜行動＞にアプローチしました。<br><br>
        ここで、＜認知＞とは自動思考とみなしてもらって構いません。<br>
        基本モデルでは捕まえやすい自動思考から、＜認知＞を理解していきます。<br><br>
        しかし、自動思考レベルでは個人の体験を理解しにくい場合や、深い認知が介在していると考えられる場合には、「階層的認知モデル」を活用していきます。<br><br>

        スキーマはその人の生まれ育った環境、幼少期の生い立ち、大人になるまでの体験から形づくられるものです。<br>
        スキーマは良い、悪いではなく、大人になる過程で身を守るために、仕方なくできあがった面もあります。<br>
        防衛反応として出ている面があるので、スキーマに動かされないようにすることは難しいです。<br>
        そもそも自身にどんなスキーマがあるのか？ と気づくことにも難しさがあります。<br>
        スキーマに気づいたとしても、動かされないようにすることは、たとえ頭でわかっていても困難が伴います。<br><br>

        古いたとえですが、自動思考とスキーマは「氷山の一角」のような関係です。<br>
        氷山は海に沈んでいて、表に出ている部分と出ていない部分があります。<br>
        表に出ている部分を自動思考、沈んでいる部分をスキーマととらえることができます。<br>
        スキーマは沈んでいて見えないので、普段はなかなか意識しにくいものです。<br>
        しかし、自動思考というスキーマのきっかけになる部分は表に浮かび上がっています。<br><br>
        自動思考をもとにして、奥底にあるスキーマを外に出すことで、より自己理解を深め、生きづらさの正体を掘り下げていきます。<br>
        <%= image_tag "氷山の一角.png", class:"content-image" %>
        <br><br>
        次節では、スキーマの一例として「認知のゆがみ」を紹介します。<br>
      </div>
    </div>

    <div class="main-contents-wrapper">
      <div class="main-item__circle"></div>
      <div class="main-contents__title">認知のゆがみ</div>
    </div>
    <div class="main-contents-info">
      <div class="main-contents__text">
        「認知のゆがみ」とは物事の捉え方にゆがみがある、とされていることです。<br><br>
        前節の打ち合わせの失言の例では、「人より勝るものがなければ安心できない」というスキーマから、「参加者に呆れられる」「上司にフォローされた。能力がないと思われたに違いない」という自動思考が出ていました。<br>
        このようにスキーマの介在によって、浮かび上がる自動思考にゆがみが生じ、パターンができてしまっています。<br><br>
        認知のゆがみは1976年の心理学者、アーロン・ベックにより提唱されたもので、いくつかのパターンがありますが、ここでは代表的な10項目を紹介します。<br>
        認知のゆがみのパターンは重なり合っている部分もあり、いつもどれかひとつの性質に当てはまるわけではありません。参考程度で良いと思います。<br><br>
        <ol class="main-contents__lists-sub">
          <li>
            白黒思考<br>
            全か無か、0か1か、と完璧主義的に物事を考える思考パターンです。<br>
            ほとんどの問題には中間がありますが、両極端の見方をしてしまいます。<br>
            完璧に物事をこなさなければ満足できなかったり、相手のちょっとした行動や態度から、良い人だ、悪い人だ、と決めつけてしまいます。<br><br>
            <ul class="main-contents__lists-sub">
              <li>例
                <ul class="main-contents__lists-sub">
                  <li>仕事ですこしの失敗をしたために、「この仕事は完全に失敗だ」と考える。</li>
                  <li>すこしの失敗をした人を見て、「能力のない人だ」と考える。</li>
                </ul>
              </li>
            </ul>
          </li>
          <br>
          <li>
            過度な一般化<br>
            たった一度起こった出来事でも、次も同じことが起こる、などと考えることです。<br>
            「いつも」「絶対」「決まって◯◯」といった言葉とセットになりやすいです。<br><br>
            <ul class="main-contents__lists-sub">
              <li>例
                <ul class="main-contents__lists-sub">
                  <li>一度トラブルが起きただけなのに、「次もまたトラブルを起こすのだ」と考える。</li>
                  <li>一度読んだ参考書が有益でなかったから、「参考書を読んでも、絶対に役に立たない」と考える。</li>
                </ul>
              </li>
            </ul>
          </li>
          <br>
          <li>
            心のフィルター<br>
            良いことがあったとしても、良い面が遮断されてしまい、悪い点だけ目がついてしまうことです。<br><br>
            <ul class="main-contents__lists-sub">
              <li>例
                <ul class="main-contents__lists-sub">
                  <li>営業成績が二位なのに、一位ではないから今期は最悪だ、と考える。</li>
                  <li>飲み込みがよく、作業の早い優秀な部下なのに「ブラインドタッチができない」「説明がもたつく」などの、ネガティブな要素しか思い浮かべられない。</li>
                </ul>
              </li>
            </ul>
          </li>
          <br>
          <li>
            マイナス化思考<br>
            良い出来事があったのに無視するだけでなく、悪い出来事にすり替えてしまうことです。<br>
            心のフィルターと似ていますが、違いがあります。<br>
            心のフィルターは良い面を無視しますが、マイナス化思考は無視するだけではなく、何らかの理由をつけて、良い面の価値を引き下げてとらえてしまいます。<br><br>
            <ul class="main-contents__lists-sub">
              <li>例
                <ul class="main-contents__lists-sub">
                  <li>仕事の能力を褒められても、「まぐれだ」と考え、素直に受け取れない。</li>
                  <li>成果を出しても「こんな仕事は誰でもできる」と、成果を認めることができない。</li>
                </ul>
              </li>
            </ul>
          </li>
          <br>
          <li>
            結論への飛躍<br>
            根拠がなく、確認もできていないのに、物事をネガティブに決めてつけてしまうことです。 次の2つのパターンがあります。<br><br>
            <ol class="main-contents__lists-sub" type="a">
              <li>
                読心術<br>
                人のちょっとした言動や態度から、相手の考えていることを早合点しまうことです。<br><br>
                <ul class="main-contents__lists-sub">
                  <li type="circle">例
                    <ul class="main-contents__lists-sub">
                      <li>距離の詰まっていない相手と会話が続きにくかったときに「会話が続かず迷惑をかけてしまった、嫌われたに違いない」と思い込む。
                        （実際は相手とはまだ交流を深めていないので、人となりを伺っているだけかもしれない）</li>
                    </ul>
                 </li>
                </ul>
             </li>
             <br>
              <li>
                運命の先読み<br>
                遠い将来のことは誰にもわかりませんが、未来は確実に悪くなると決めつけてしまうことです。<br><br>
                <ul class="main-contents__lists-sub">
                  <li type="circle">例
                    <ul class="main-contents__lists-sub">
                      <li>「仕事をうまくやれることなど一生なく、どうせ窓際族だ」と考える。</li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ol>
          </li>
          <br>
          <li>
            拡大解釈（破滅化）、過小解釈<br>
            少しの失敗を大げさに悪い方へとらえたり、逆に長所や成功は過小評価することです。<br><br>
            <ul class="main-contents__lists-sub">
              <li>例
                <ul class="main-contents__lists-sub">
                  <li>ささいな失敗で「なんて私は駄目なんだ」と考える。</li>
                  <li>他人が成功すると、強く羨望する。</li>
                </ul>
              </li>
            </ul>
          </li>
          <br>
          <li>
            感情的決めつけ<br>
            自分の感情に基づいて、物事を判断してしまうことです。<br>
            自分がこのように感じるならば、事実でなければならない、という見方をします。<br><br>
            <ul class="main-contents__lists-sub">
              <li>例
                <ul class="main-contents__lists-sub">
                  <li>仕事で「不安を感じている。だから失敗するに違いない」と考える。</li>
                  <li>「このプロジェクトはつまらない。楽しいと思っているチームメンバーはばかだ」と考える。</li>
                </ul>
              </li>
            </ul>
          </li>
          <br>
          <li>
            べき思考<br>
            ◯◯すべきである、すべきでない、と考え、自分にも相手にも厳しくなる傾向のことです。<br><br>
            <ul class="main-contents__lists-sub">
              <li>例
                <ul class="main-contents__lists-sub">
                  <li>「私は上司だから、仕事を効率良くこなすべき」と考える。</li>
                  <li>「仕事に余裕がないとき、楽しそうにしてはならない」と考える。</li>
                </ul>
              </li>
            </ul>
          </li>
          <br>
          <li>
            レッテル貼り<br>
            ささいな言葉尻だけをとらえたり、たった一度起きたことをきっかけに「自分は使えない人間だ」「あいつは駄目だ」など、自分や相手に対してネガティブなラベリングをしてしまうことです。<br>
            ＜過度の一般化＞が極端に現れた状態ともいえます。<br><br>
            <ul class="main-contents__lists-sub">
              <li>例
                <ul class="main-contents__lists-sub">
                  <li>一度怒られただけで、「私はもう役に立たない無能だ」と考える。</li>
                  <li>部下の少しのミスを見て、「こいつは頑張りが足りない」と考える。</li>
                </ul>
              </li>
            </ul>
          </li>
          <br>
          <li>
            個人化（自己批判、他人批判）<br>
            必ずしも自分の責任ではない場合に、全て自分の責任のように感じ、自分を責めすぎてしまうことです。<br>
            相手に対しても同様に、本当は相手の責任でなくとも責めすぎてしまうこともあります。<br><br>
            <ul class="main-contents__lists-sub">
              <li>例
                <ul class="main-contents__lists-sub">
                  <li>「チームの雰囲気が悪いのは、リーダーの私がメンバーと雑談をしないからだ」と考える。</li>
                  <li>上司から、レベルに見合わない作業負荷をかけられ、作業の進まない部下に「努力が足りない」と考える。</li>
                </ul>
              </li>
            </ul>
          </li>
        </ol>
        <br>
        以上、代表的な10パターンの認知のゆがみを紹介しました。<br><br>
        認知のゆがみが問題になりやすいのは、ゆがみが少々極端になり、自分を苦しめるほどの自動思考や感情が出て、生活に支障をきたしている場合です。<br>
        少しのべき思考であれば、それほど悪い影響は及ぼしにくいものです。<br>
        少しのべき思考に動かされることは、たとえば勉強熱心な姿勢や、強い責任感などに貢献しやすい部分もあるので、個人にとっていつもネガティブに働くとは限りません。<br><br>
        次節では浮かび上がる自動思考を分析し、どの認知のゆがみに陥っているのか、検討をするためのツールとして、認知再構成法を説明します。<br>
      </div>
    </div>

    <div class="main-menu">
      <div class="main-menu__square"></div>
      <div class="main-menu__title">認知再構成法</div>
    </div>
    <div class="main-contents-wrapper">
      <div class="main-item__circle"></div>
      <div class="main-contents__title">概要</div>
    </div>
    <div class="main-contents-info">
      <div class="main-contents__text">
        認知再構成法とは、非機能的な思考（＝自分を苦しめる思考）を同定し、より機能的な思考（＝つらくさせない思考）を自ら考えだすための技法です。<br>
        自分を苦しめる思考を取り出し、さまざまな角度から分析することで、新たな考え方を作って自分に取り入れるための練習をすることができます。<br><br>
        ここでは認知行動療法でよく用いられる、コラム法の7つのコラムを紹介します。<br><br>
        <ul class="main-contents__lists-sub">
          <li>起こった出来事、浮かんだ自動思考、その時の気分・感情を記入します。</li>
          <li>根拠：自動思考を裏付ける事実や根拠を書きます。</li>
          <li>反証：自動思考が正しくない可能性、反対の事実や根拠を書きます。</li>
          <li>最後に根拠と反証をふまえて、新しい建設的な考え方を作ってみます。</li>
        </ul>
        <br>
        アプリのエクササイズでは上記に加えて、自動思考がどの認知のゆがみに該当すると考えられるか、選択肢を追加しています。<br>
      </div>
    </div>

    <div class="main-contents-wrapper">
      <div class="main-item__circle"></div>
      <div class="main-contents__title">エクササイズ</div>
    </div>
    <div class="main-contents-info">
      <div class="main-contents__text">
        認知再構成法は慣れるまで時間のかかる技法です。<br>
        はじめのうちは、ストレス場面や自動思考、気分や感情を書き出すことが難しいかもしれません。<br>
        しかし、繰り返し練習しているうちに誰でもできるようになります。<br>
        それではターゲットとするストレス場面をひとつ選んで、エクササイズをはじめてみてください。<br><br>
    
        <%= link_to "エクササイズをする", new_monitoring_path, class:"main-contents__btn" %>

      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>